doctype html
html
    head
        title N-Body Simulator
        meta(name='description', content='N-Body simulator using the Barnes-Hut algorithm.')
        style.
            html, body {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
    body
        script(type='text/javascript', src='app.js')
